<%= notice %>
<h1>Login</h1>

<%= form_with model: @user, url: '/login', method: :post do |form| %>
  <%= form.label :email, 'Email' %>
  <%= form.email_field :email %>

  <%= form.label :password, 'Password' %>
  <%= form.password_field :password %>

  <%= form.label :remember_me, 'Remember me' %>
  <%= form.check_box :remember_me %>

  <%= form.submit 'Login' %>
<% end %>

<%= link_to 'Forgot password', user_detail_users_url %>
