<%= form_with model: @user, url: login_url, method: :post do |form| %>
  <h2>Login</h2>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <div>
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me %>
  </div>

  <button type="submit">Login</button>
  <p>Not yet registered?
    <%= link_to t(:sign_up), sign_up_url %> | 
    <%= link_to t(:forgot_password), new_password_url %>
  </p>
<% end %>
