
<%= form_with model: @user, url: '/login', method: :post do |form| %>
  <% if notice %>
    <h2><%= notice %></h2>
  <% else %>
    <h2>Login</h2>
  <% end %>
  <%= form.label :email, 'Email' %>
  <%= form.email_field :email %>

  <%= form.label :password, 'Password' %>
  <%= form.password_field :password %>

  <div>
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me, 'Remember me' %>
  </div>

  <button type="submit">Login</button>
  <p>Not yet registered?
    <%= link_to 'sign up', new_user_url %> | 
    <%= link_to 'Forgot password', user_detail_users_url %>
  </p>
<% end %>

