<%= form_with model: user, url: sign_up_url, method: :post do |form| %>
  <h2>Sign up</h2>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <button type="submit">Sign up</button>

  <p>Already registered?
    <%= link_to t(:login), login_url %>
  </p>
<% end %>
