<%= form_with model: @user, method: :patch, url: "http://127.0.0.1:3000/users/:user_id/set-new-password/#{@user.id}"  do |form| %>
  <p class='alert'><%= notice %></p>
  <%= form.label :password, 'New password' %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation, 'New password confirmation' %>
  <%= form.password_field :password_confirmation %>

  <button type="submit">Submit</button>
<% end %>
