<div class='order-price-details'>
  <h4>Total discount price: <%= order.discount_price_in_cents %>
  <h4>Total loyality discount price: <%= order.discount_price_in_cents %>
</div>

<% order.line_items.each do |line_item| %>
  <div class='line-item'>
    <div class='line-item-info'>
      <p><%= link_to line_item.deal.title, deal_url(line_item.deal) %></p>
      <p>Tax percentage: $<%= line_item.deal.tax_percentage %>%</p>
      <p>Price: $<%= line_item.deal.price_in_cents %></p>
      <p>Discount Price: $<%= line_item.deal.discount_price_in_cents %></p>
      <p>Loyality Discount Price: $<%= line_item.deal.discount_price_in_cents %></p>
    </div>
    <%= button_to 'Remove', line_item_url(line_item), method: :delete%>
  </div>
<% end %>
