<%= form_with model: @user, method: :patch, url: set_new_password_url(@user.id)  do |form| %>
  <%= form.label :password, 'New password' %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation, 'New password confirmation' %>
  <%= form.password_field :password_confirmation %>

  <button type="submit">Submit</button>
<% end %>
