<%= form_with model: deal, url: url, method: method do |form| %>
  
  <%= form.label :title %>
  <%= form.text_field :title, value: deal.title %>

  <%= form.label :description %>
  <%= form.text_area :description, value: deal.description %>

  <%= form.label :price_in_cents %>
  <%= form.number_field :price_in_cents, value: deal.price_in_cents %>

  <%= form.label :discount_price_in_cents %>
  <%= form.number_field :discount_price_in_cents, value: deal.discount_price_in_cents %>

  <%= form.label :initial_quantity %>
  <%= form.number_field :initial_quantity, value: deal.initial_quantity %>

  <%= form.label :tax_percentage %>
  <%= form.number_field :tax_percentage, value: deal.tax_percentage, within: FlashSales::Deal::TAX_PERCENTAGE_RANGE %>

  <%= form.label :published_at %>
  <%= form.date_field :published_at, value: deal.published_at %>

  <% if @images.present? %>
    <h6>Select deal images to be removed:</h6>
    <div class='img-rem'>
      <%= fields_for :image_form do |image_form| %>
        <%= image_form.collection_check_boxes :images_to_be_deleted, deal.images, :id, :filename do |b| %>
          <div class="img-check-box">
            <%= b.check_box + b.text %>
          </div>
        <% end %>
      <% end %>
    </div>
    <h6>Add more Images:</h6>
  <% end %>
  <div data-controller='deal-images'>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, data: { action: "deal-images#addFile" } %>

    <div data-deal-images-target="files"></div>
  </div>

  <button type="submit"><%= btn_text %></button>
<% end %>
