<div class="deals_container single_deal">
  <%= render partial: 'deal', locals: { summarize: false, deal: @deal, css_class: 'show_deal' } %>
</div>

<p id="deal_desc"><i><%= @deal.description %></i></p>

<% if @deal.publishable? %>
  <h4>Publishable</h4>
<% else %>
  <h4>Unpublishable</h4>
<% end %>
<h4>Created By<%= @deal.admin %></h4>

<div class="deal_crud">
  <%= link_to('Update Deal ', edit_admin_deal_url(@deal)) %>
  <%= button_to(' Delete Deal', admin_deal_url(@deal), method: :delete, class: "deal_crud_btn") %>
</div>

<%= button_to('Add to cart', admin_deal_url(@deal), method: :get) if @deal.status == 'live' %>
