<%= render partial: 'deals/deal_details' %>

<% if @deal.publishable? %>
  <h4>Publishable</h4>
<% else %>
  <h4>Unpublishable</h4>
<% end %>
<h4>Status: <%= @deal.status %></h4>
<% if @deal.try(:admin).present? %>
  <h4>Created By: <%= link_to @deal.creator.name.capitalize, user_url(@deal.creator) %></h4>
<% end %>
<div class="deal_crud">
  <%= link_to('Update Deal ', edit_admin_deal_url(@deal)) %>
  <% unless @deal.deleted? %>
    <%= button_to(' Archive Deal', admin_deal_url(@deal), method: :delete, class: "deal_crud_btn", data: { turbo_confirm: 'Are you sure you want to delete?' }) %>
  <% end %>
</div>
