<%= render partial: 'deals/deal_details' %>

<% if @deal.publishable? %>
  <h4>Publishable</h4>
<% else %>
  <h4>Unpublishable</h4>
<% end %>
<h4>Status: <%= @deal.status %></h4>
<h4>Created By: <%= link_to @deal.admin.name.capitalize, user_url(@deal.admin) %></h4>
<div class="deal_crud">
  <%= link_to('Update Deal ', edit_admin_deal_url(@deal)) %>
  <%= button_to(' Delete Deal', admin_deal_url(@deal), method: :delete, class: "deal_crud_btn") %>
</div>

