<!DOCTYPE html>
<html>
  <head>
    <title>FlashSales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <h4>Flash Sales</h4>
      <div>
        <%= link_to('Login', login_url) unless cookies[:user_id] %>
        <%= link_to('Logout', logout_url) if cookies[:user_id] %> 
      </div>
    </nav>
    <p class='alert'><%= notice %></p>
    <%= yield %>
  </body>
</html>
