<!DOCTYPE html>
<html>
  <head>
    <title>FlashSales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <body>
    <nav>
      <h4><%= link_to('Flash Sales', deals_url(status: 'live')) %></h4>
      <div>
        <% if user_logged_in? %>
          <%= link_to('Live Deals', deals_url(status: 'live'), class: 'nav-link') %>
          <%= link_to('Past Deals', deals_url(status: 'published'), class: 'nav-link') %>
          <% if admin_logged_in? %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to('Unpublished Deals', admin_deals_url(status: 'unpublished'), class: "dropdown-item") %>
                <%= link_to('Create Deal', new_admin_deal_url, class: "dropdown-item") %>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Users
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to('Create User', new_admin_user_url, class: "dropdown-item") %>
                <%= link_to('Existing Users', admin_users_url, class: "dropdown-item") %>
                <%= link_to('All User orders', admin_orders_url, class: "dropdown-item") %>
              </div>
            </div>
          <% end %>
          <%= link_to('My Orders', orders_url, class: 'nav-link') if logged_in_user.orders.present?%>
          <%= link_to('Profile', user_url(logged_in_user), class: 'nav-link')%>
          <%= link_to('Logout', logout_url, class: 'nav-link') %> 
        <% else %>
          <%= link_to('Login', login_url, class: 'nav-link') unless user_logged_in? %>
        <% end %>
      </div>
    </nav>
    <% if notice %>
      <p class='alert'><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
